
html,
body {
  margin: 0; /* This is essential to avoid a small white border around the whole main div. */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* -------------------------- standard reset ^^ ------------------------------ */

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.dialog {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  max-width: 40rem;
  justify-content: center;
}

.InputParams {
	background-color:'';
	display:inline-block;
	margin-right:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.show-color,
.select-color {
  box-sizing: content-box;
	border: 1px solid black;
	margin: 4px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.selected-color {
  border: 5px solid #333333;
  margin: 0px;
}

.box {
	background-color: #111111;
	background: orange;
  height: 2.2vw;
  width: 2.2vw;
  display: inline-block;
  border-radius: 2.2vw;
  margin: 0.1vw;
}
#stripe {
  font-size: 0;
}
.spacer {
	/*width: 0.55vw;*/
	width: 8px; /*###8px
	/*height: 1.0vw;*/
	height: 7px; /*###7px*/
	/*background: purple; uncomment this if you want to see the spacers for debugging */
	display: inline-block;/* this somehow cause multiples to be on the same horizontal line */
	margin-right: 0;
	margin-left: 0;
	margin-top: 0;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.photobox img {
	object-fit: contain;
	z-index: -1;
}

.link {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  z-index: 1;
}

.bead {
  /*
  Bead width-- critical magic number!!! it's important for width and height to be even, so the spacers can be exactly half a bead wide
  and it's also important to use pixels not vx measures to avoid rounding artifacts in the display
  */
  --bead-width: 14px;
  margin: -3px -1px 0px 0px; /* negative margins help create the tight circle packing in the hexagonal grid of beads */
  width: var(--bead-width);
  height: var(--bead-width);
  background: white;
  border: 1px solid grey;
  border-radius: 100%;
  display: inline-block;
}

fieldset {
  border: 1px solid white;
  color: white;
  font-size: smaller;
  border-radius: 4px;
  height: 100%;
}

label {
  color: rgb(76, 101, 118);
}

#file-selector {
  color:white;
  background-color: rgb(76, 101, 118);
  width:200px;
}

input[ type="button" ] {
  color: white;
  background-color: rgb(76, 101, 118);
  border: 2px solid rgb(76, 101, 118);
  border-radius: 4px;
}

input[ type="number" ] {
  width:70px;
}

.right-justify {
  margin-inline: auto 0px;
}

.centered-scroller {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.beads-grid-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.beads-svg {
  position: absolute;
  inset: 0;
  margin-inline: auto;
}

/* Style specific components by ID  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

body {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-rows: min-content 1fr;
	background-color:#cccccc;
}

#navbar {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  background-color: rgb(19, 54, 77);
  padding-inline: 2rem;
}

#title {
  color: #cccccc;
}

#about-button,
#file-operations {
  margin: auto;
}

#save-button {
  margin-inline-start: 25px;
}

#title h4,
#title h2 {
  margin-block-start: 7px;
  margin-block-end: 10px;
}

#about-title {
  margin: auto;
}
#about-prose {
  display: inline-block;
  /* max-width: 100px; */
}

/* #about-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 16px;
} */

#central {
  display: grid;
  grid-template-columns: 7fr 10fr 2fr;
  padding: 2px 4px 6px 4px;
  height: 100%;
}

#controls-and-vrp {
  display: grid;
  grid-template-rows: 1fr min-content min-content min-content;
  height: 100%;
}

#editing {
}

#undo-redo {
  /* margin-block-start: 0.4rem; */
  display: flex;
  justify-content: center;
}

#book-ad {
  display: inline-block;
}

/*       bead colors        %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#color-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new-color {
  display: flex;
  align-items: center;
}

/*       bead display style     %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#style-grid {
  display: grid;
  grid-template-columns: 5rem min-content min-content 1fr;
}

#border-width {
  display: flex;
}

/*       vertical repeat        %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#vrp-grid {
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  height: 100%;
}

#params-grid {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 5px;
  margin-inline-end: auto;
}

#colored-numbers {
  font-weight: bold;
  font-size: large;
  word-spacing: 4px;
  margin-block-end: 20px;
}

/*       bead plane        %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#bp-grid {
  display: grid;
  grid-template-rows: 1fr min-content;
  height: 100%;
}

#bp-buttons {
  padding-block-start: 0.75em;
}

#BPsvg {
  width: 600px;
}

/*   rope preview      %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#rope-grid {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

#rope-controls {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 5px;
}

#rope-svg {
  height: 80%;
}

/*   rectangular tile      %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#tile {
  height: 80svh;
  width: 80svw;
  display: inline-block;
  background-color: #cccccc;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

#tile-grid {
  display: grid;
  grid-template-rows: 1fr min-content;
  height: 100%;
}

#tile-scroller {
  max-height: 80svh;
  overflow: auto;
  margin-block-end: 8px;
}

#tile-svg {
  height: 100%;
}
